html, body {
    width: auto;
    height: auto;
    background-color: #f3ceed;
}

h1 {
    color: rgb(38, 0, 255);
    font-size: 100px;
    font-family: courier;
    text-align: center;
  }

  #h1 {
    animation: fadeIn 7s;
  }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }

  .p1 {
    font-family: arial;
    font-size: 20px;
    font-weight: 500;
  }
  
  .img {
    float: center;
  }

  h2 {
    color: rgb(22, 204, 68);
    font-size: 50px;
    font-family: courier;
  }

  #h2 {
    animation: fadeIn 3s;
  }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }

  h3 {
    color: rgb(255, 38, 0);
    font-size: 65px;
    font-family: sans-serif;
    text-align: center;
  }

  #h3 {
    animation: fadeIn 5s;
  }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }

  ol, ul {
      font-style: italic;
      font-weight: bold;
  }