html, body {
    width: auto;
    height: auto;
    background-color: #f3ceed;
}

h1 {
    color: rgb(38, 0, 255);
    font-size: 100px;
    font-family: courier;
    text-align: center;
  }

  #h1 {
    animation: fadeIn 5s;
  }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }

